// Responsive for Landing Page

@import "../../Helpers/mediaQueries";

// From minimum to 768px
@include Sm {
  // Brand-Book_Call_Section (Header)
  .Brand-Book_Call_Section {
    overflow: hidden;
    .Brand-Book_Call_Section-Container {
      .Brand-Book_Call-Content {
        // Header
        .Header {
          h1 {
            font-size: 25px;
          }
          .BookCallBTN {
            width: 120px;
            height: 40px;
            font-size: 20px;
          }
        }
        // Employees_Focus
        .Employees_Focus {
          .EmployeesFocusBTN {
            font-size: 10px;
            padding: 7px;
          }
        }
        // company_Description
        .company_Description {
          .company_Description-Container {
            .C_D_Container-Text {
              line-height: normal;
              p:nth-child(1) {
                font-size: 50px;
              }
              p:nth-child(2) {
                font-size: 50px;
              }
              p:nth-child(3) {
                font-size: 50px;
              }
            }
          }
        }
      }
    }
  }
  //// Section 1 End ////

  //// Section 2 Start (Reservations) ////
  .company-Reservations {
    padding-bottom: 20px;
    .company-Reservations_Container {
      .dottedLineSVG {
        width: 100%;
        top: 15%;
      }
      .airbusSVG {
        width: 150px;
        bottom: 30%;
        right: 10%;
      }

      .company-Reservations_Content {
        .company-Reservations-content-title {
          justify-content: center;
          height: 150px;
          .eventDesc {
            font-size: 20px;
            text-align: center;
            margin: 0;
            margin-top: 40px;
          }
          .BookCallBTN {
            width: 50%;
            height: fit-content;
            font-size: 10px;
            padding: 10px;
          }
        }
        .company-Reservations-content-Icons {
          align-items: flex-start;
          height: fit-content;
          .C-R-Icons-Container {
            width: fit-content;
            gap: 20px;
            .icon-title-feature {
              width: 100%;
              height: fit-content;
              .feature-icon-Div {
                width: 60px;
                height: 60px;
                border-radius: 10px;
              }
              h3 {
                font-size: 10px;
                width: fit-content;
                margin: auto;
              }
            }
          }
        }
      }
    }
  }
  //// Section 2 End ////

  //// Section 3 Start (Key Features) ////
  .key-features-section {
    .key-feature-header {
      .key-feature-header-content {
        width: 75%;
        .business_key_Feature {
          font-size: 30px;
        }
        .business_key_Feature_subtitle {
          font-size: 15px;
        }
      }
    }
  }

  //// Section 3 End ////

  /// Section 4 Start (Brand Name) ////
  .BrandNameBaner-section {
    .BrandName-section-Container {
      .BanerBrandName {
        font-size: 50px;
      }
    }
  }

  /// Section 4 End ////

  //// Section 5 Start (Numbers) ////
  .Brand-Numbers-Section {
    .Brand-Numbers-Container {
      .Brand-Number-Title {
        font-size: 30px;
      }
      .Brand-Customers-impressions {
        .impressions {
          .numberOfClients {
            width: 90px;
            height: 90px;
            span {
              font-size: 20px;
            }
          }
          .impressionTitle {
            font-size: 15px;
          }
        }
      }
      .Numbers-BookCall {
        .BookCallBTN {
          width: 90%;
          height: 50px;
        }
      }
    }
  }
  //// Section 5 End ////

  //// Section 6 Start (Partners) ////

  .Brand-Partners {
    .Brand-Partners-title {
      font-size: 26px;
    }
  }

  //// Section 6 End ////

  //// Section 7 Start (Support-Employees) ////
  .support-section {
    .support-Header {
      width: 70%;
      font-size: 25px;
      height: fit-content;
      margin-bottom: 25px;
    }
    .support-types {
      flex-direction: column;
      gap: 25px;
      .support-types-Container {
        width: 80%;
        height: fit-content;
        padding-top: 10px;
        .supportIcon-container {
          margin: 0;
        }
        .support-title {
          margin-top: 15px;
          font-size: 15px;
        }
        .support-content {
          font-size: 16px;
        }
      }
    }
  }
  //// Section 7 End ////

  //// Section 8 Start (Collaboration)////

  .collaboration-section {
    .collaboration-Container {
      .collaboration-Header {
        .collaboration-Header-h2 {
          font-size: 20px;
        }
      }
    }
  }
}

// (min-width: 769px) >>>> (max-width: 1170px)
@include Md {
  // Brand-Book_Call_Section (Header)
  .Brand-Book_Call_Section {
    overflow: hidden;
    .Brand-Book_Call_Section-Container {
      .Brand-Book_Call-Content {
        // Header
        .Header {
          .BookCallBTN {
            font-size: 20px;
          }
        }
        // Employees_Focus
        .Employees_Focus {
          .EmployeesFocusBTN {
            font-size: 15px;
            padding: 7px;
          }
        }
        // company_Description
        .company_Description {
          .company_Description-Container {
            .C_D_Container-Text {
              line-height: normal;
              p:nth-child(1) {
                font-size: 50px;
              }
              p:nth-child(2) {
                font-size: 50px;
              }
              p:nth-child(3) {
                font-size: 50px;
              }
            }
          }
        }
      }
    }
  }
  //// Section 1 End ////

  //// Section 2 Start (Reservations) ////
  .company-Reservations {
    padding-bottom: 20px;
    .company-Reservations_Container {
      .dottedLineSVG {
        width: 100%;
        top: 12%;
        right: 5%;
      }
      .airbusSVG {
        width: 150px;
        bottom: 48%;
        right: 18%;
      }

      .company-Reservations_Content {
        .company-Reservations-content-title {
          justify-content: center;
          .eventDesc {
            font-size: 30px;
            text-align: center;
            margin: 0;
          }
          .BookCallBTN {
            width: 40%;
            height: fit-content;
            font-size: 10px;
            padding: 15px;
          }
        }
        .company-Reservations-content-Icons {
          align-items: flex-start;
          height: fit-content;
          .C-R-Icons-Container {
            width: fit-content;
            gap: 40px;
            .icon-title-feature {
              width: 100%;
              height: fit-content;
              .feature-icon-Div {
                width: 80px;
                height: 80px;
                border-radius: 10px;
              }
              h3 {
                font-size: 15px;
                width: fit-content;
                margin: auto;
              }
            }
          }
        }
      }
    }
  }
  //// Section 2 End ////

  //// Section 3 Start (Key Features) ////
  .key-features-section {
    .key-feature-header {
      .key-feature-header-content {
        width: 75%;
        .business_key_Feature {
          font-size: 30px;
        }
        .business_key_Feature_subtitle {
          font-size: 15px;
        }
      }
    }
  }

  //// Section 3 End ////

  /// Section 4 Start (Brand Name) ////
  .BrandNameBaner-section {
    .BrandName-section-Container {
      .BanerBrandName {
        font-size: 80px;
      }
    }
  }

  /// Section 4 End ////

  //// Section 5 Start (Numbers) ////
  .Brand-Numbers-Section {
    .Brand-Numbers-Container {
      .Brand-Number-Title {
        font-size: 30px;
      }
      .Brand-Customers-impressions {
        .impressions {
          .numberOfClients {
            width: 100px;
            height: 100px;
            span {
              font-size: 20px;
            }
          }
          .impressionTitle {
            font-size: 15px;
          }
        }
      }
      .Numbers-BookCall {
        .BookCallBTN {
          width: 50%;
          height: 50px;
        }
      }
    }
  }
  //// Section 5 End ////

  //// Section 6 Start (Partners) ////

  .Brand-Partners {
    .Brand-Partners-title {
      font-size: 26px;
    }
  }

  //// Section 6 End ////

  //// Section 7 Start (Support-Employees) ////
  .support-section {
    .support-Header {
      width: 70%;
      font-size: 30px;
      height: fit-content;
      margin-bottom: 25px;
    }
    .support-types {
      flex-direction: column;
      gap: 25px;
      .support-types-Container {
        width: 80%;
        height: fit-content;
        padding-top: 10px;
        .supportIcon-container {
          margin: 0;
        }
        .support-title {
          margin-top: 15px;
          font-size: 20px;
        }
        .support-content {
          font-size: 16px;
        }
      }
    }
  }
  //// Section 7 End ////

  //// Section 8 Start (Collaboration)////

  .collaboration-section {
    .collaboration-Container {
      .collaboration-Header {
        .collaboration-Header-h2 {
          font-size: 30px;
        }
      }
    }
  }
}
