@import "../../App.scss";

// Circle properties in Section 1
@mixin Circle {
  position: absolute;
  height: 100%;
  opacity: 0.2;
  background: linear-gradient(
    180deg,
    $beig-color 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

//// Section 1 Start ////

// Brand-Book_Call_Section (Header)
.Brand-Book_Call_Section {
  width: 100%;
  background: linear-gradient(to bottom, #f6f7f8, rgb(220, 232, 234));
  padding-bottom: 20px;

  .Brand-Book_Call_Section-Container {
    position: relative;
    margin: auto;
    // Circle 1 in Background
    .circle1 {
      @include Circle();
      width: 50%;
      clip-path: circle(30% at 30% 50%);
    }

    // Circle 2 in Background
    .circle2 {
      @include Circle();
      width: 100%;
      clip-path: circle(15% at 90% 90%);
    }

    // Content Container
    .Brand-Book_Call-Content {
      position: relative;
      z-index: 1;

      // Employees_Focus
      .Employees_Focus {
        width: 100%;
        margin: auto;
        display: flex;
        .EmployeesFocusBTN {
          margin: auto;
          margin-top: 20px;
          border-radius: 100px;
          border: 1px solid #47332d;
          background: rgba(71, 51, 45, 0.05);
          padding: 10px 20px;
          color: $primary-green-color;
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          cursor: pointer;
        }
      }

      // company_Description
      .company_Description {
        width: 90%;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        .company_Description-Container {
          .C_D_Container-Text {
            color: #291c0b;
            font-size: 70px;
            font-style: normal;
            font-weight: 400;
            line-height: 100px;
            p:nth-child(1) {
              font-size: 70px;
            }
            p:nth-child(2) {
              font-size: 90px;
              font-style: italic;
              font-weight: bold;
              color: $beig-color;
            }
            p:nth-child(3) {
              font-size: 70px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
//// Section 1 End ////

//// Section 2 Start (Reservations) ////

.company-Reservations {
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.74) 18.2%,
      rgba(153, 153, 153, 0.56) 118.19%
    ),
    url(../../Static/Images/two_Seperated_Buildings.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .company-Reservations_Container {
    position: relative;
    height: 100%;
    overflow: hidden;
    .dottedLineSVG {
      width: 1435px;
      height: 527px;
      position: absolute;
      top: 15%;
    }

    .airbusSVG {
      position: absolute;
      right: 16.5%;
      bottom: 70%;
      width: 276px;
      height: 276px;
    }

    .company-Reservations_Content {
      position: relative;
      .company-Reservations-content-title {
        width: 100%;
        justify-content: center;
        height: 280px;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: end;
        flex-direction: column;
        color: $beig-color;
        font-size: 20px;
        font-style: italic;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        .eventDesc {
          margin-bottom: 30px;
        }
        .BookCallBTN {
          @include BookCall();
          width: 471px;
          cursor: pointer;
        }
      }
      .company-Reservations-content-Icons {
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        .C-R-Icons-Container {
          // C-R >> stands For company Reservations
          width: 40%;
          height: 180px;
          display: flex;
          justify-content: space-around;
          align-items: end;
          .icon-title-feature {
            width: 120px;
            height: 120px;
            text-align: center;
            margin-bottom: 5px;
            .feature-icon-Div {
              border-radius: 20px;
              background: $Dark-Green-color;
              padding: 15px;
              width: 105px;
              height: 105px;
              margin: auto;
              margin-bottom: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            p {
              font-size: 15px;
              font-weight: bold;
            }
            &.flighReserv {
              margin-bottom: 45px;
            }
          }
        }
      }
    }
  }
}

//// Section 2 End ////

//// Section 3 Start (Key Features) ////

.key-features-section {
  width: 100%;
  background-color: white;
  padding-bottom: 30px;
  .key-feature-header {
    width: 100%;
    padding: 25px;
    .key-feature-header-content {
      margin: auto;
      text-align: center;
      width: 40%;
      .business_key_Feature {
        color: #119592;
        font-size: 48px;
        margin-bottom: 30px;
        font-family: Paytone_One, Arial, Helvetica, sans-serif;
      }
      .business_key_Feature_subtitle {
        color: #291c0b;
        font-size: 15px;
      }
    }
  }
  .key-feature-Carousel {
    width: 80%;
    margin: auto;
  }
}

/// Section 3 End ////

/// Section 4 Start (Brand Name) ////

.BrandNameBaner-section {
  width: 100%;
  margin: auto;
  padding-bottom: 20px;
  background-color: white;
  overflow: hidden;
  .BrandName-section-Container {
    padding-top: 20px;
    background-color: white;
    margin: auto;
    .BanerBrandName {
      font-family: Lato;
      margin: 0;
      background: linear-gradient(
        180deg,
        rgba(17, 149, 146, 0.2) 17.92%,
        rgba(31, 49, 53, 0.17) 82.08%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      font-family: Lato;
      font-size: 200px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}

//// Section 4 End ////

//// Section 5 Start (Numbers) ////
.Brand-Numbers-Section {
  width: 100%;
  background-color: white;
  overflow: hidden;
  .Brand-Numbers-Container {
    width: 90%;
    margin: auto;
    .Brand-Number-Title {
      width: 40%;
      margin: auto;
      text-align: center;
      text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.15);
      font-family: Dm_Sans;
      background: linear-gradient(180deg, #149f98 0%, #2e5d84 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 55px;
      font-style: italic;
      font-weight: 700;
      padding-bottom: 20px;
    }
    .Brand-Customers-impressions {
      margin: auto;
      display: flex;
      justify-content: space-around;
      width: 90%;
      // background-color: red;
      .impressions {
        width: 33%;
        margin-top: 20px;
        .numberOfClients {
          width: 33%;
          height: 132px;
          margin: auto;
          border-radius: 20px;
          border: 5px solid black;
          display: flex;
          justify-content: center;
          font-weight: bold;
          align-items: center;
          font-size: 32px;
        }
        .impressionTitle {
          color: #149f98;
          text-align: center;
          font-family: Dm_Sans;
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-top: 20px;
        }
      }
    }
    .Numbers-BookCall {
      width: 100%;
      // background-color: #291c0b;
      text-align: center;
      padding: 20px;
      .BookCallBTN {
        @include BookCall();
        width: 493.457px;
        margin-top: 25px;
        margin-bottom: 25px;
      }
    }
  }
}
//// Section 5 End ////

//// Section 6 Start (Partners) ////
.Brand-Partners {
  width: 100%;
  min-height: 300px;
  text-align: center;
  font-family: Dm_Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  background-color: white;
  padding-top: 6rem;
  padding-bottom: 6rem;
  overflow: hidden;
  .Brand-Partners-title {
    background-color: white;
    position: relative;
    top: 15px;
    width: fit-content;
    margin: auto;
    z-index: 1;
    font-size: 48px;
    .SO {
      color: #241e09;
      text-align: center;
      text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.15);
      font-weight: bold;
    }
    .OP {
      color: #149f98;
      font-style: italic;
      font-weight: bold;
    }
  }
}
//// Section 6 End ////
//// Section 7 Start ////
.support-section {
  width: 100%;
  background-color: white;
  padding-bottom: 20px;
  overflow: hidden;
  .support-Header {
    width: 40%;
    margin: auto;
    margin-bottom: 30px;
    color: #241e09;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
  }

  .support-types {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    .support-types-Container {
      width: 30%;
      padding: 10px;
      background-color: white;
      background-color: rgba(240, 240, 240, 0.232);
      border: 1px solid black;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .supportIcon-container {
        width: 100%;
        margin-bottom: 30px;
        .supportIconBG {
          width: 60px;
          height: 60px;
          margin: auto;
          flex-shrink: 0;
          border-radius: 60px;
          background: linear-gradient(
            180deg,
            #119598 0.08%,
            rgba(31, 49, 53, 0.83) 99.93%
          );
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .support-title {
        text-align: center;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 20px;
        font-weight: bold;
      }
      .support-content {
        width: 90%;
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        opacity: 0.7;
      }
    }
  }
}
//// Section 7 End ////

//// Section 8 Start (Collaboration) ////

.collaboration-section {
  background-color: white;
  width: 100%;
  padding-top: 1px;
  overflow: hidden;
  .collaboration-Container {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    .collaboration-Header {
      text-align: center;
      width: 70%;
      margin: auto;
      .collaboration-Header-h2 {
        font-family: Dm_Sans;
        font-weight: 700;
        font-size: 55px;
        span:nth-child(1) {
          color: #241e09;
          text-align: center;
          text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.15);
          font-style: normal;
        }
        span:nth-child(2) {
          background: linear-gradient(0deg, #241e09 0%, #241e09 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-style: italic;
          line-height: normal;
        }
      }
    }

    .collaboration-Data {
      margin-top: 30px;
      .collaboration-Data-Container {
        height: 700px;
        width: 100%;
        border-radius: 30px;
        overflow: hidden;
      }
    }
  }
}

//// Section 8 End ////

// Media Query
@import "./landingPage_Responsive.scss";
