// Responsive of feature carousel
@import "../../Helpers/mediaQueries";

// from minimum to 575px
@include Xs {
  .Carousel {
    .Carousel-container {
      height: fit-content;
      margin-bottom: 40px;
      margin-top: 40px;
      .Carousel-container-Data {
        .Carousel-container-Data-Paragraph {
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}
