// style of the main App scss
@import "../../App.scss";

// Contact us Form style
.ContactusMainButton {
  background: none;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid white;
  padding: 0;
  transition: 0.5s;
  &:hover {
    background: none;
  }
}

.Contactus_Modal {
  .ContactUsModal-Header {
    background-color: #f6f7f8;
    .Contact_Modal_Title {
      width: 100%;
      color: #149f98;
      text-align: center;
    }
  }
  .ContactUs-Modal-Body {
    background-color: #f6f7f8;
    .Modal-Body-Data {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .contactDetails {
        padding: 10px 0px;
        &.mailDetails{
          margin-right: 15px;
        }
        .contactWayDetails{
          color: #149f98;
          font-weight: bold;
          font-size: 13px;
        }
        .contactTitle {
          margin: 0;
          font-weight: bold;
        }
      }
    }
  }

  .ContactUs-Modal-Footer {
    background-color: #f6f7f8;
    .Modal-Footer-Container {
      width: 100%;
      display: flex;
      justify-content: center;
      .closeModal {
        width: 50%;
      }
    }
  }
}
