// Responsive for footer
@import "../../Helpers/mediaQueries";

// from minimum to 575px
@include Sm {
  .footer {
    .footerContainer {
      padding-bottom: 10px;
      flex-direction: column;
      .footer-Brand-Logo {
        margin-bottom: 10px;
        width: 95%;
      }
      .Brand-address {
        width: 100%;
        font-size: 15px;
        align-items: center;
        .address-container {
          width: 90%;
        }
      }
    }
  }
}