@import "../../App.scss";

.footer {
  background-color: $Dark-Green-color;
  width: 100%;
  color: white;
  .footerContainer {
    width: 90%;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Brand-copyrights {
      width: 50%;
      text-align: right;
    }
  }
}

@import "./Footer_Responsive.scss";
